In [1]:
def get_name():
    first_name = input("Enter first name: ").capitalize()
    last_name = input("Enter last name: ").capitalize()
    return f"{first_name} {last_name}"

def calculate_age_in_months():
    age = int(input("Enter age in years: "))
    months = age * 12
    return months

for _ in range(10):
    name = get_name()
    age_in_months = calculate_age_in_months()
    print(f"Name: {name}, Age: {age_in_months} months")

Enter first name: Karan
Enter last name: Rhuggernaath
Enter age in years: 28
Name: Karan Rhuggernaath, Age: 336 months

KeyboardInterrupt: Interrupted by user

In [ ]:
import pandas as pd

In [5]:
import pandas as pd

In [6]:
a = [1,7, 2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [7]:
print(myvar[0])

1

In [9]:
a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [10]:
print(myvar["y"])

7

In [11]:
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [12]:
mydataset = {
    'cars': ["BMW", "Volvo", "Ford"],
    'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [13]:
print(myvar.loc[0])

cars        BMW
passings      3
Name: 0, dtype: object

In [14]:
print(myvar.loc[[0, 1]])

    cars  passings
0    BMW         3
1  Volvo         7

In [15]:
data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [16]:
data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}

df = pd.Dataframe(data, index = ["day1", "day2", "day3"])

print(df)

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [17]:
print(df.loc["day2"])

NameError: name 'df' is not defined

In [18]:
data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [19]:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

In [20]:
import pandas as pd
df = pd.read_csv('Data_Set.csv')
print(df)

            Type  Days for shipping (real)  Days for shipment (scheduled)  \
0           CASH                         2                              4
1        PAYMENT                         3                              4
2        PAYMENT                         3                              4
3        PAYMENT                         3                              4
4           CASH                         5                              4
...          ...                       ...                            ...
180514  TRANSFER                         6                              4
180515     DEBIT                         2                              4
180516     DEBIT                         3                              4
180517   PAYMENT                         4                              4
180518      CASH                         1                              0

        Benefit per order  Sales per customer   Delivery Status  \
0               88.790001          239.979996  Advance shipping
1               91.180000          193.990005  Advance shipping
2               36.470001          107.889999  Advance shipping
3               68.250000          227.500000  Advance shipping
4                4.100000           40.980000     Late delivery
...                   ...                 ...               ...
180514        -107.959999          161.869995     Late delivery
180515        -126.559998          172.660004  Advance shipping
180516          91.250000          314.640015  Advance shipping
180517           1.530000           10.910000  Shipping on time
180518           9.790000           34.980000     Late delivery

        Late_delivery_risk  Category Id     Category Name Customer City  ...  \
0                        0           43  Camping & Hiking       Hickory  ...
1                        0           48      Water Sports       Chicago  ...
2                        0           18    Men's Footwear       Chicago  ...
3                        0           24   Women's Apparel       Chicago  ...
4                        1           40       Accessories   San Antonio  ...
...                    ...          ...               ...           ...  ...
180514                   1           76  Women's Clothing        Caguas  ...
180515                   0           76  Women's Clothing    Plainfield  ...
180516                   0           73    Sporting Goods        Caguas  ...
180517                   0           74              Toys        Berwyn  ...
180518                   1           75       Video Games         Miami  ...

       Order Zipcode Product Card Id Product Category Id  Product Description  \
0                NaN             957                  43                  NaN
1                NaN            1073                  48                  NaN
2                NaN             403                  18                  NaN
3                NaN             502                  24                  NaN
4                NaN             897                  40                  NaN
...              ...             ...                 ...                  ...
180514           NaN            1363                  76                  NaN
180515           NaN            1363                  76                  NaN
180516           NaN            1360                  73                  NaN
180517           NaN            1361                  74                  NaN
180518           NaN            1362                  75                  NaN

                                            Product Image  \
0       http://images.acmesports.sports/Diamondback+Wo...
1       http://images.acmesports.sports/Pelican+Sunstr...
2       http://images.acmesports.sports/Nike+Men%27s+C...
3       http://images.acmesports.sports/Nike+Men%27s+D...
4       http://images.acmesports.sports/Team+Golf+New+...
...                                                   ...
180514     http://images.acmesports.sports/Summer+dresses
180515     http://images.acmesports.sports/Summer+dresses
180516       http://images.acmesports.sports/Smart+watch
180517              http://images.acmesports.sports/Toys
180518  http://images.acmesports.sports/Fighting+video...

                                         Product Name Product Price  \
0       Diamondback Women's Serene Classic Comfort Bi    299.980011
1                         Pelican Sunstream 100 Kayak    199.990005
2             Nike Men's CJ Elite 2 TD Football Cleat    129.990005
3                Nike Men's Dri-FIT Victory Golf Polo     50.000000
4          Team Golf New England Patriots Putter Grip     24.990000
...                                               ...           ...
180514                                 Summer dresses    215.820007
180515                                 Summer dresses    215.820007
180516                                   Smart watch     327.750000
180517                                          Toys      11.540000
180518                           Fighting video games     39.750000

       Product Status shipping date (DateOrders)   Shipping Mode
0                   0           01/03/2015 00:00  Standard Class
1                   0           01/04/2015 00:21  Standard Class
2                   0           01/04/2015 00:21  Standard Class
3                   0           01/04/2015 00:21  Standard Class
4                   0           01/06/2015 01:03  Standard Class
...               ...                        ...             ...
180514              0           02/06/2018 22:14  Standard Class
180515              0           02/02/2018 22:35  Standard Class
180516              0           02/03/2018 22:56  Standard Class
180517              0           02/04/2018 23:17  Standard Class
180518              0           02/01/2018 11:38        Same Day

[180519 rows x 53 columns]

In [21]:
print(df.head(5))

      Type  Days for shipping (real)  Days for shipment (scheduled)  \
0     CASH                         2                              4
1  PAYMENT                         3                              4
2  PAYMENT                         3                              4
3  PAYMENT                         3                              4
4     CASH                         5                              4

   Benefit per order  Sales per customer   Delivery Status  \
0          88.790001          239.979996  Advance shipping
1          91.180000          193.990005  Advance shipping
2          36.470001          107.889999  Advance shipping
3          68.250000          227.500000  Advance shipping
4           4.100000           40.980000     Late delivery

   Late_delivery_risk  Category Id     Category Name Customer City  ...  \
0                   0           43  Camping & Hiking       Hickory  ...
1                   0           48      Water Sports       Chicago  ...
2                   0           18    Men's Footwear       Chicago  ...
3                   0           24   Women's Apparel       Chicago  ...
4                   1           40       Accessories   San Antonio  ...

  Order Zipcode Product Card Id Product Category Id  Product Description  \
0           NaN             957                  43                  NaN
1           NaN            1073                  48                  NaN
2           NaN             403                  18                  NaN
3           NaN             502                  24                  NaN
4           NaN             897                  40                  NaN

                                       Product Image  \
0  http://images.acmesports.sports/Diamondback+Wo...
1  http://images.acmesports.sports/Pelican+Sunstr...
2  http://images.acmesports.sports/Nike+Men%27s+C...
3  http://images.acmesports.sports/Nike+Men%27s+D...
4  http://images.acmesports.sports/Team+Golf+New+...

                                    Product Name Product Price Product Status  \
0  Diamondback Women's Serene Classic Comfort Bi    299.980011              0
1                    Pelican Sunstream 100 Kayak    199.990005              0
2        Nike Men's CJ Elite 2 TD Football Cleat    129.990005              0
3           Nike Men's Dri-FIT Victory Golf Polo     50.000000              0
4     Team Golf New England Patriots Putter Grip     24.990000              0

  shipping date (DateOrders)   Shipping Mode
0           01/03/2015 00:00  Standard Class
1           01/04/2015 00:21  Standard Class
2           01/04/2015 00:21  Standard Class
3           01/04/2015 00:21  Standard Class
4           01/06/2015 01:03  Standard Class

[5 rows x 53 columns]

In [22]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  object
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Description            0 non-null       float64
 47  Product Image                  180519 non-null  object
 48  Product Name                   180519 non-null  object
 49  Product Price                  180519 non-null  float64
 50  Product Status                 180519 non-null  int64
 51  shipping date (DateOrders)     180519 non-null  object
 52  Shipping Mode                  180519 non-null  object
dtypes: float64(15), int64(14), object(24)
memory usage: 73.0+ MB
None

In [23]:
df.pop("Product Description")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 52 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  object
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Image                  180519 non-null  object
 47  Product Name                   180519 non-null  object
 48  Product Price                  180519 non-null  float64
 49  Product Status                 180519 non-null  int64
 50  shipping date (DateOrders)     180519 non-null  object
 51  Shipping Mode                  180519 non-null  object
dtypes: float64(14), int64(14), object(24)
memory usage: 71.6+ MB
None

In [24]:
new_df = df.dropna()
print(new_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24840 entries, 78230 to 103069
Data columns (total 52 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Type                           24840 non-null  object
 1   Days for shipping (real)       24840 non-null  int64
 2   Days for shipment (scheduled)  24840 non-null  int64
 3   Benefit per order              24840 non-null  float64
 4   Sales per customer             24840 non-null  float64
 5   Delivery Status                24840 non-null  object
 6   Late_delivery_risk             24840 non-null  int64
 7   Category Id                    24840 non-null  int64
 8   Category Name                  24840 non-null  object
 9   Customer City                  24840 non-null  object
 10  Customer Country               24840 non-null  object
 11  Customer Email                 24840 non-null  object
 12  Customer Fname                 24840 non-null  object
 13  Customer Id                    24840 non-null  int64
 14  Customer Lname                 24840 non-null  object
 15  Customer Password              24840 non-null  object
 16  Customer Segment               24840 non-null  object
 17  Customer State                 24840 non-null  object
 18  Customer Street                24840 non-null  object
 19  Customer Zipcode               24840 non-null  float64
 20  Department Id                  24840 non-null  int64
 21  Department Name                24840 non-null  object
 22  Latitude                       24840 non-null  float64
 23  Longitude                      24840 non-null  float64
 24  Market                         24840 non-null  object
 25  Order City                     24840 non-null  object
 26  Order Country                  24840 non-null  object
 27  Order Customer Id              24840 non-null  int64
 28  order date (DateOrders)        24840 non-null  object
 29  Order Id                       24840 non-null  int64
 30  Order Item Cardprod Id         24840 non-null  int64
 31  Order Item Discount            24840 non-null  float64
 32  Order Item Discount Rate       24840 non-null  float64
 33  Order Item Id                  24840 non-null  int64
 34  Order Item Product Price       24840 non-null  float64
 35  Order Item Profit Ratio        24840 non-null  float64
 36  Order Item Quantity            24840 non-null  int64
 37  Sales                          24840 non-null  float64
 38  Order Item Total               24840 non-null  float64
 39  Order Profit Per Order         24840 non-null  float64
 40  Order Region                   24840 non-null  object
 41  Order State                    24840 non-null  object
 42  Order Status                   24840 non-null  object
 43  Order Zipcode                  24840 non-null  float64
 44  Product Card Id                24840 non-null  int64
 45  Product Category Id            24840 non-null  int64
 46  Product Image                  24840 non-null  object
 47  Product Name                   24840 non-null  object
 48  Product Price                  24840 non-null  float64
 49  Product Status                 24840 non-null  int64
 50  shipping date (DateOrders)     24840 non-null  object
 51  Shipping Mode                  24840 non-null  object
dtypes: float64(14), int64(14), object(24)
memory usage: 10.0+ MB
None

In [25]:
print(new_df["Order Zipcode"])

78230     42420.0
78231     42420.0
78232     42420.0
78233     42420.0
78234     42420.0
           ...
103065    92627.0
103066    92627.0
103067    92627.0
103068    92627.0
103069    92627.0
Name: Order Zipcode, Length: 24840, dtype: float64

In [26]:
print(df["Order Zipcode"])

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
180514   NaN
180515   NaN
180516   NaN
180517   NaN
180518   NaN
Name: Order Zipcode, Length: 180519, dtype: float64

In [27]:
df["Order Zipcode"].fillna("empty", inplace = True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 52 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  object
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Order Zipcode                  180519 non-null  object
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Image                  180519 non-null  object
 47  Product Name                   180519 non-null  object
 48  Product Price                  180519 non-null  float64
 49  Product Status                 180519 non-null  int64
 50  shipping date (DateOrders)     180519 non-null  object
 51  Shipping Mode                  180519 non-null  object
dtypes: float64(13), int64(14), object(25)
memory usage: 71.6+ MB
None

In [28]:
x = df["Benefit per order"].mean()
print(x)
df["Benefit per order"].fillna(x, inplace = True)

21.97498863859404

In [29]:
print(df['shipping date (DateOrders)'])

0         01/03/2015 00:00
1         01/04/2015 00:21
2         01/04/2015 00:21
3         01/04/2015 00:21
4         01/06/2015 01:03
                ...
180514    02/06/2018 22:14
180515    02/02/2018 22:35
180516    02/03/2018 22:56
180517    02/04/2018 23:17
180518    02/01/2018 11:38
Name: shipping date (DateOrders), Length: 180519, dtype: object

In [30]:
import pandas as pd
dataframe = pd.read_csv('Final.csv')
print(dataframe)

      Unnamed: 0       Entity Code  Year  Cellular Subscription  \
0              0  Afghanistan  AFG  1980               0.000000
1              1  Afghanistan  AFG  1981               0.000000
2              2  Afghanistan  AFG  1982               0.000000
3              3  Afghanistan  AFG  1983               0.000000
4              4  Afghanistan  AFG  1984               0.000000
...          ...          ...  ...   ...                    ...
8862        8862     Zimbabwe  ZWE  2016              91.793457
8863        8863     Zimbabwe  ZWE  2017              98.985077
8864        8864     Zimbabwe  ZWE  2018              89.404869
8865        8865     Zimbabwe  ZWE  2019              90.102287
8866        8866     Zimbabwe  ZWE  2020              88.755806

      Internet Users(%)  No. of Internet Users  Broadband Subscription
0              0.000000                      0                0.000000
1              0.000000                      0                0.000000
2              0.000000                      0                0.000000
3              0.000000                      0                0.000000
4              0.000000                      0                0.000000
...                 ...                    ...                     ...
8862          23.119989                3341464                1.217633
8863          24.400000                3599269                1.315694
8864          25.000000                3763048                1.406322
8865          25.100000                3854006                1.395818
8866          29.299999                4591211                1.368916

[8867 rows x 8 columns]