In [1]:
import random

print(random.randrange(1,10))

3

In [10]:
a="banana"
for x in a:
    print(name.capitalize(x))
    
print(len(a))

NameError: name 'name' is not defined

In [11]:
a="banana"
for x in a:
    print(x.capitalize())
    
print(len(a))

B
A
N
A
N
A
6

In [12]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [17]:
txt = "The best things in life are free!"
if "best" in txt:
    print("Yes, 'free' is present.")
    
else:
    print("The word is not here")

Yes, 'free' is present.

In [21]:
b = "Hello, World!"
print(b[2:5])
print(b[ :5])
print(b[2: ])
print(b[-5:-2])

llo
Hello
llo, World!
orl

In [22]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [23]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [25]:
a = "Hello, World!"
print(a.replace("H","J"))

Jello, World!

In [27]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [28]:
list1 = ["abc", 34, True, 40, "male"]
thislist = list(("apple", "banana", "cherry", 4,6,8))

print(thislist)
print(thislist[1])
print(thislist[-1])
print(thislist[2:5])
print(thislist[-4:-1])

if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

['apple', 'banana', 'cherry', 4, 6, 8]
banana
8
['cherry', 4, 6]
['cherry', 4, 6]
Yes, 'apple' is in the fruits list

In [29]:
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry', 4, 6, 8]

In [30]:
thislist.append("orange")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry', 4, 6, 8, 'orange']

In [33]:
thislist.pop(1)
print(thislist)

['apple', 'cherry', 4, 6, 8]

In [37]:
for i in range(len(thislist)):
    print(thislist[i])

apple
cherry
4
6
8

In [38]:
def my_function():
    print("Hello from a function")

In [39]:
my_function()

Hello from a function

In [40]:
def my_function(fname):
    print(fname + " You are enrolled")

In [41]:
my_function()

TypeError: my_function() missing 1 required positional argument: 'fname'

In [42]:
fname

NameError: name 'fname' is not defined

In [43]:
my_function("Emil")

Emil You are enrolled

In [44]:
my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil You are enrolled
Tobias You are enrolled
Linus You are enrolled