In [1]:
print("My Name is Karan")

My Name is Karan

In [5]:
x="Karan"
print("Hello "+ x)

Hello Karan

In [6]:
print(x)

Karan

In [7]:
print("Enter Your Name")
x=input()
print("Hello, "+ x)

Enter Your Name
Karan
Hello, Karan

In [11]:
print("What is your full name?")
x=input()
print("Your full name is "+ x)

What is your full name?
Karan Rhuggernaath
Your full name is Karan Rhuggernaath

In [ ]:
x=input("Enter your name ")
print("Hello, "+ x)

In [ ]:
x=input("Name of the first person")
y=input("Name of the second person")
z=input("What is the relationship between these two")
print(x + " and " y + " are " z)

In [17]:
x = input("Name of the first person")
y = input("Name of the second person")
z = input("What is the relationship between these two")
print(x + " and " y + " are " z)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1004942264.py, line 4)

In [18]:
name1 = input()
name2 = input()
relationship = input()
print(name1 + " and " + name2 + " are " + relationship)

Karan
John
Friends
Karan andJohn are Friends

In [20]:
x = input("Name of the first person ")
y = input("Name of the second person ")
z = input("What is the relationship between these two ")
print(x + " and " + y + " are " + z)

Name of the first person John
Name of the second person Sarah
What is the relationship between these two Friends
John and Sarah are Friends

In [ ]:
name1 = input("What is your name? ")
job1 = input("What is your job ")
print("")

In [1]:
name1 = input("What is the name of the first person? ")
age1 = input("What is the age of the first person? ")
name2 = input("What is the name of the second person? ")
age2 = input("What is the age of the second person? ") 
     
print(name1 + " is " )

SyntaxError: unterminated string literal (detected at line 4) (1227943778.py, line 4)

In [ ]:

name1 = input("What is the name of the first person? ")
age1 = input("What is the age of the first person? ")
name2 = input("What is the name of the second person? ")
age2 = input("What is the age of the second person? ") 
accumulated_age = a



output = f"{name1} is {age1} and {name2} is {age2} and the accumulated age is {accumulated_age}"


print(output)

In [ ]:
name1 = input("What is the name of the first person? ")
age1 = input("What is the age of the first person? ")
name2 = input("What is the name of the second person? ")
age2 = input("What is the age of the second person? ") 
accumulated_age = sum(age1 + age2)



output = f"{name1} is {age1} and {name2} is {age2} and the accumulated age is {accumulated_age}"


print(output)

In [5]:
name1 = input("What is the name of the first person? ")
age1 = input("What is the age of the first person? ")
name2 = input("What is the name of the second person? ")
age2 = input("What is the age of the second person? ") 
accumulated_age = sum(age1 + age2)

KeyboardInterrupt: Interrupted by user

In [6]:
# Input names and ages
name1 = input("What is the name of the first person? ")
age1 = int(input(f"How old is {name1}? "))
name2 = input("What is the name of the second person? ")
age2 = int(input(f"How old is {name2}? "))

# Calculate the accumulated age
accumulated_age = age1 + age2

# Format the output string
output = f"{name1} is {age1} years old\n{name2} is {age2} years old\nThe accumulated age of {name1} and {name2} together is {accumulated_age} years old"

# Print the output
print(output)

What is the name of the first person? John
How old is John? 22
What is the name of the second person? Sarah
How old is Sarah? 11
John is 22 years old
Sarah is 11 years old
The accumulated age of John and Sarah together is 33 years old

In [7]:

name1 = input("What is the name of the first person? ")
age1 = int(input(f"How old is {name1}? "))
name2 = input("What is the name of the second person? ")
age2 = int(input(f"How old is {name2}? "))


accumulated_age = age1 + age2


output = f"{name1} is {age1} years old\n{name2} is {age2} years old\nThe accumulated age of {name1} and {name2} together is {accumulated_age} years old"


print(output)

What is the name of the first person? Terry
How old is Terry? 66
What is the name of the second person? Joe
How old is Joe? 23
Terry is 66 years old
Joe is 23 years old
The accumulated age of Terry and Joe together is 89 years old

In [8]:
name1 = input("What is the name of the first person? ")
age1 = int(input(f"How old is {name1}? "))
name2 = input("What is the name of the second person? ")
age2 = int(input(f"How old is {name2}? "))


accumulated_age = age1 + age2


output = f"{name1} is {age1} years old\n{name2} is {age2} years old\nThe accumulated age of {name1} and {name2} together is {accumulated_age} years old"


print(output)

What is the name of the first person? Sarah
How old is Sarah? 22
What is the name of the second person? Joe
How old is Joe? 34
Sarah is 22 years old
Joe is 34 years old
The accumulated age of Sarah and Joe together is 56 years old

In [13]:
name1 = input("What is your Name? ")
age1 = input("What is your Age? ")

print("Name: " + name1 + ", Age: " + age1)

What is your Name? Peter
What is your Age? 29
Name: Peter, Age: 29

In [17]:
name1 = input("What is the name of the first person? ")
age1 = int(input(f"How old is {name1}? "))
name2 = input("What is the name of the second person? ")
age2 = int(input(f"How old is {name2}? "))


accumulated_age = age1 + age2


output = f"{name1} is {age1} years old \n{name2} is {age2} years old \nThe accumulated age of {name1} and {name2} together is {accumulated_age} years old"


print(output)

What is the name of the first person? Joe
How old is Joe? 22
What is the name of the second person? joey
How old is joey? 21
Joe is 22 years old
joey is 21 years old
The accumulated age of Joe and joey together is 43 years old

In [18]:
if 10>3:
    print("10 is greater than 3")

10 is greater than 3

In [22]:
#hello world
"""
I want to have lines
of notes
"""

'\nI want to have lines\nof notes\n'

In [23]:
x=5
y="Sara"
print(x)
print(y)
print(type(x))
print(type(y))

5
Sara
<class 'int'>
<class 'str'>

In [24]:
x = input("What is your name? ")
print(x)
print(type(x))

What is your name? Karan
Karan
<class 'str'>

In [25]:
x = int(input("What is your name?"))
print(x)
print(type(x))

What is your name?Karan

ValueError: invalid literal for int() with base 10: 'Karan'

In [27]:
x = int(input("What is your age? "))
print(x)
print(type(x))

What is your age? 21
21
<class 'int'>

In [30]:
x= y= z="blue"
print(x)
print(y)
print(z)

blue
blue
blue

In [32]:
x, y, z="orange", "blue", "red"
print(x)
print(y)
print(z)

orange
blue
red

In [36]:
fruits=["apple", "melon", "cherry"]
print(type(fruits))
x,y,z=fruits
print(z)

<class 'list'>
cherry

In [37]:
print(type(z))

<class 'str'>

In [38]:
x=5

In [40]:
x=5
y="John"
print(x, y)

5 John

In [41]:
print(type(x))

<class 'int'>

In [42]:
print(type(y))

<class 'str'>

In [43]:
x=20.5
print(type(x))

<class 'float'>

In [44]:
x="20.5"
print(type(x))

<class 'str'>

In [45]:
x=[2,3,5]
print(type(x))

<class 'list'>

In [46]:
x={"name":"Sarah","age":23}
print(type(x))

<class 'dict'>

In [47]:
x={"name": "john","age":25,"purch":[25,30,88,95]}
print(x)

{'name': 'john', 'age': 25, 'purch': [25, 30, 88, 95]}

In [48]:
x=True
print(type(x))

<class 'bool'>

In [49]:
import random

In [62]:
print(random.randrange(1,1000000))

139455

In [64]:
text="This is some text. We are in data analytics class"
print(text)

This is some text. We are in data analytics class

In [65]:
print(type(text))

<class 'str'>

In [67]:
print(text[1])

h

In [68]:
for letter in text:
    print(letter)

T
h
i
s

i
s

s
o
m
e

t
e
x
t
.

W
e

a
r
e

i
n

d
a
t
a

a
n
a
l
y
t
i
c
s

c
l
a
s
s

In [77]:
text="my name is John"

if "joe" in text:
    print("Yes it is")
    
else:
        print("No, it is not here")

No, it is not here

In [82]:
print(text[3:7])

name

In [88]:
print(text[-1])

n

In [1]:
sentence = input("Enter a sentence: ")  # Prompt the user to enter a sentence

words = sentence.split()  # Split the sentence into a list of words
first_letters = [word[0] for word in words]  # Extract the first letter of each word

print(first_letters)  # Print the list of first letters

Enter a sentence: Hello my name is karan
['H', 'm', 'n', 'i', 'k']

In [ ]:
sentence = input("Enter a sentence: ")  

words = sentence.split()  
first_letters = [word[0] for word in words]  

print(first_letters)